/* .bg {
  background-color: #222;
}
 */
 #phone {
  /* background-color: rgba(176, 180, 186, 0.25); */
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: -250px;
  left: 330px;
  font-family: 'Jura', sans-serif;
  z-index: 1;
}

#main-text {
  /* background-color: rgba(176, 180, 186, 0.25); */
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: -800px;
  left: -30px;
  font-family: 'Jura', sans-serif;
  z-index: 1;
}

/* line 49, ../sass/styles.scss */
#description-text {
  /* background-color: rgba(176, 180, 186, 0.25); */
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: -720px;
  left: -30px;
  font-family: 'Jura', sans-serif;
  z-index: 1;
}



@media (max-width: 1300px){
  /* line 341, ../sass/styles.scss */
  #main-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: -600px;
    left: 40px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }

  /* line 352, ../sass/styles.scss */
  #description-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 15px;
    padding: 25px;
    position: absolute;
    top: -550px;
    left: 20px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }
}

@media (max-width: 1030px){
  /* line 341, ../sass/styles.scss */
  #main-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: -500px;
    left: 50px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }

  /* line 352, ../sass/styles.scss */
  #description-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 15px;
    padding: 25px;
    position: absolute;
    top: -450px;
    left: 30px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }
}

@media (max-width: 996px){
  /* line 341, ../sass/styles.scss */
   #phone {
  /* background-color: rgba(176, 180, 186, 0.25); */
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: -250px;
  left: 230px;
  font-family: 'Jura', sans-serif;
  z-index: 1;
}
  #main-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: -480px;
    left: 20px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }

  /* line 352, ../sass/styles.scss */
  #description-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 15px;
    padding: 25px;
    padding-right: 200px;
    position: absolute;
    top: -460px;
    left: 0px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }
}

@media (max-width: 913px){
  /* line 341, ../sass/styles.scss */
   #phone {
  /* background-color: rgba(176, 180, 186, 0.25); */
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: -150px;
  left: 200px;
  font-family: 'Jura', sans-serif;
  z-index: 1;
}
  #main-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: -380px;
    left: 20px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }

  /* line 352, ../sass/styles.scss */
  #description-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 15px;
    padding: 25px;
    padding-right: 200px;
    position: absolute;
    top: -360px;
    left: 0px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }
}

@media (max-width: 700px){
  /* line 341, ../sass/styles.scss */
   #phone {
  /* background-color: rgba(176, 180, 186, 0.25); */
  color: #fff;
  font-size: 35px;
  position: absolute;
  top: -100px;
  left: 200px;
  font-family: 'Jura', sans-serif;
  z-index: 1;
}
  #main-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: -280px;
    left: 20px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }

  /* line 352, ../sass/styles.scss */
  #description-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 15px;
    padding: 25px;
    padding-right: 200px;
    position: absolute;
    top: -260px;
    left: 0px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }
}

@media (max-width: 650px) {

  /* line 341, ../sass/styles.scss */
#phone {
  /* background-color: rgba(176, 180, 186, 0.25); */
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: -100px;
  left: 150px;
  font-family: 'Jura', sans-serif;
  z-index: 1;
}

  #main-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: -220px;
    left: 60px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }

  /* line 352, ../sass/styles.scss */
  #description-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 12px;
    padding: 25px;
    padding-right: 200px;
    position: absolute;
    top: -220px;
    left: 40px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }
}

@media (max-width: 522px) {

  /* line 341, ../sass/styles.scss */
  #main-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: -110px;
    left: 60px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }

  /* line 352, ../sass/styles.scss */
  #description-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 10px;
    padding: 25px;
    padding-right: 200px;
    position: absolute;
    top: -100px;
    left: 40px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }
}

@media (max-width: 450px) {

  #phone {
  /* background-color: rgba(176, 180, 186, 0.25); */
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: -100px;
  left: 150px;
  font-family: 'Jura', sans-serif;
  z-index: 1;
}

  /* line 341, ../sass/styles.scss */
  #main-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: -90px;
    left: 60px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }

  /* line 352, ../sass/styles.scss */
  #description-text {
    /* background-color: rgba(176, 180, 186, 0.25); */
    color: #fff;
    font-size: 8px;
    padding: 25px;
    padding-right: 150px;
    position: absolute;
    top: -90px;
    left: 40px;
    font-family: 'Jura', sans-serif;
    z-index: 1;
  }
}