<div class="container">
	<div class="row" style="padding-bottom: 50px;">
		<div class="col-xs-4">
			<br>
			<img src="../../assets/about5.png" alt="" class="img-responsive" style="max-width: 350px; padding: 10px;">
			<img src="../../assets/about.jpg" alt="" class="img-responsive" style="max-width: 350px; padding: 10px;">
			<img src="../../assets/about4.png" alt="" class="img-responsive" style="max-width: 350px; padding: 10px;">
			<img src="../../assets/about6.png" alt="" class="img-responsive" style="max-width: 350px; padding: 10px;">
		</div>
		<div class="col-xs-8">
			<h2>Хто ми?</h2>
			<p>Ми - Ваші добрі помічники! Ми - активні, кмітливі та компетентні! Ми - группа найкращих менеджерів Львова та Києва. Ми - до Ваших послуг! Для нас найголовніше - допомогти Вам швидко знайти житло або приміщення для власного бізнесу. </p>

			<h2>З нами краще!</h2>
			<p>
				Ми цінуємо Вашу довіру. Тому, одна з основних причин, які виправдовують співпрацю з нами, окрім комфорту та зручності, це те, що купуючи нерухомість Ви заощаджуєте власні кошти! Адже ми не ріелторська компанія, ми працюємо напряму із забудовниками, тому Ви не сплачуєте жодної зайвої гривні.
			</p>
			
			<h2>Ми створюємо хороший настрій</h2>
			<p>Для того, щоб Ви змогли задовільнити свої потреби і придбати бажану нерухомість, яка би повністю відповідала Вашим вимогам у найкоротші терміни - ми і створили цей ресурс. Він існує для Вас та заради Вас. Довіряючи нам, Ви отримуєте швидку реакцію та результат, час для інших корисних справ,а також хороший настрій від задоволення Ваших потреб!</p>

			<h2>Ми дійсно допомагаємо</h2>
			<p>Наша команда менеджерів вже отримала сотні позитивних відгуків від задоволених клієнтів. Ми допомагаємо Вам знайти та придбати бізнес у сфері нерухомості/розваг/туризму. Ми знаходимо та пропонуємо готельні комплекси, коттеджі, будинки, квартири та офісні приміщення.</p>

			<h2>Нас обирають</h2>
			<p>
				Нас обирають ті, хто цінує свій час та не бажає проводити безсонні ночі та дні у безрезультатному пошуку нерухомості в інтернет, безкінечних оглядах непідходящих приміщень, адже пропозицій тисячі, сайтів з продажу нерухомості також достатньо, але знайти серед всього цього те, що потрібно саме Вам виявляється не так-то й легко, а інколи, здається, й зовсім неможливо. 
			</p>

			<h2>Ми робимо світ кращим!</h2>
			<p>
				Нам приємно відчувати Вашу радість. Ми щасливі від того, що кожного разу виправдовуємо Ваші сподівання. Ми вдячні Вам за те, що Ви довіряєте нам. 
			</p>
		</div>
	</div>
</div>
