
<div class="row">
	<div class="container">
		<div id="main-text" class="text-center">
			У нас не квартири, а ПЕРІЖКИ!
		</div>
		<div class="col-md-3 col-lg-3"></div>
		<div id="description-text" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-justify">
			Щоденні оновлення, акційні пропозиції, найдешевші ціни, повна та детальна характеристика, виїзд на об'єкт, оформлення всіх необхідних документів - Ви зрадієте, що працюєте з нами.
		</div>
		<div class="col-md-3 col-lg-3"></div>

		<br>
		<br>
		<br>

		<!-- <div id="btn-main" class="btn btn-success btn-lg" (click)="$location.path('http://www.google.com')">
			Уперед!
		</div> -->
	</div>
</div>

