<div class="row">
	<div class="col-xs-12">
		<form>
			<div class="row">
				<div class="col-sm-6 form-group">
					<label for="name">Нікнейм</label>
					<input 
					type="text" 
					id="name" 
					class="form-control"
					#nameInput>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 form-group">
					<label for="textarea">Текст відгуку</label>
					<br>
					<textarea 
					rows="5" 
					cols="76" 
					id="message"
					#textInput></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-success" type="submit" (click)="onAddFeedback()">Додати!</button>
					<!-- <button class="btn btn-danger" type="button">Delete</button>
					<button class="btn btn-success" type="button">Clear</button> -->
				</div>
			</div>
		</form>
	</div>
</div>